<h1>Lists#show</h1>
<p>Find me in app/views/lists/show.html.erb</p>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>
<p>
  <strong>Overview:</strong>
  <%= @movie.overview %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @movie.rating %>
</p>

<img <%= @movie.poster_url %>>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
<div>
<%= link_to 'Leave a Review', new_restaurant_review_path(@restaurant) %>
</div>
